<p-toast />
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Agregar" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="abridModal()" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar CSV" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="categorias()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Administrar Categorias</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="min-width: 16rem">Id</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Descripcion
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                Operaciones
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-categoria>
        <tr>
            <td style="min-width: 12rem">{{ categoria.id }}</td>
            <td style="min-width: 12rem">{{ categoria.descripcion }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="actualizar(categoria)"/>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (onClick)="eliminarCategoria(categoria)"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="categoriaDialog" [style]="{ width: '450px' }" [header]="accion + ' ' + 'Categoria'" [modal]="true">
    <ng-template #content>
        <form [formGroup]="formulario">
            <div class="flex flex-col gap-6">
                <div>
                    <label for="descripcion" class="block font-bold mb-3">Descripcion</label>
                    <input type="text" pInputText id="descripcion" formControlName="descripcion" required fluid />
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
